body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    margin: 20px;
}

header {
    background: #434445;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e74c3c;
}

/* Estilo da barra de pesquisa */
.barra-pesquisa {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.barra-pesquisa input[type="text"] {
    width: 80%;
    max-width: 500px;
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.barra-pesquisa input[type="text"]:focus {
    border-color: #e74c3c;
    outline: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.barra-categorias {
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.barra-categorias ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.barra-categorias ul li {
    margin: 0 15px;
}

.barra-categorias a {
    color: #055b89;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.barra-categorias a:hover {
    color: #e74c3c;
}

section {
    flex-grow: 1;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #292729;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 10px;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.preco {
    font-weight: bold;
    color: #e74c3c;
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    background: #323333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #5b5e5f;
}

footer {
    text-align: center;
    padding: 15px;
    background: #747a7d;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
