body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #747a7d;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #292729;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background: #fff;
    transition: transform 0.2s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    border-radius: 8px;
}

.preco {
    font-weight: bold;
    color: #e74c3c;
}

button {
    background: #323333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #5b5e5f;
}

footer {
    text-align: center;
    padding: 10px;
    background: #747a7d;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
